
principal.synctex.gz
notes/theory/exercise IGV/upload IGV_2022/pdf/IGV_SlideDeck.pdf
notes/theory/exercise IGV/upload IGV_2022/pdf/IGV_Exercises.pdf
notes/theory/exercise IGV/upload IGV_2022/pdf/DownloadAndLaunch_2019.pdf
notes/theory/exercise IGV/upload IGV_2022/pdf/.DS_Store
notes/theory/exercise IGV/upload IGV_2022/NA12878sub/NA12878.wgs.integrated_sv_map_v1.20130502.svs.genotypes.vcf
notes/theory/exercise IGV/upload IGV_2022/NA12878sub/NA12878.mapped.ILLUMINA.bwa.CEU.high_coverage_pcr_free.RR.bam.fai
notes/theory/exercise IGV/upload IGV_2022/NA12878sub/NA12878.mapped.ILLUMINA.bwa.CEU.high_coverage_pcr_free.RR.bam.bai
notes/theory/exercise IGV/upload IGV_2022/NA12878sub/NA12878.mapped.ILLUMINA.bwa.CEU.high_coverage_pcr_free.RR.bam
notes/theory/exercise IGV/upload IGV_2022/NA12878sub/NA12878.LUMPY.bedpe
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/vcf_session.xml
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/integrated_call_samples_v3.20130502.ALL.panel
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/hg19_chr22.genome
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/chr22.fa.fai
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/chr22.fa
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/apol1_snp131.bed
notes/theory/exercise IGV/upload IGV_2022/igvData/vcf/ALL.apol1.sample.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/svs_session.xml
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/NA19240_highcov.bam.bai
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/NA19240_highcov.bam
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/NA19240.bam.bai
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/NA19240.bam
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/hg38_chr21.genome
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/hg38.chr21.fa.fai
notes/theory/exercise IGV/upload IGV_2022/igvData/svs/hg38.chr21.fa
notes/theory/exercise IGV/upload IGV_2022/igvData/snps/snp_calls.bed
notes/theory/exercise IGV/upload IGV_2022/igvData/snps/NA12878.SLX.sample.bam.tdf
notes/theory/exercise IGV/upload IGV_2022/igvData/snps/NA12878.SLX.sample.bam.bai
notes/theory/exercise IGV/upload IGV_2022/igvData/snps/NA12878.SLX.sample.bam
notes/theory/exercise IGV/upload IGV_2022/igvData/snps/.foo.swp
notes/theory/exercise IGV/upload IGV_2022/igvData/genome/refSeq_chr1.bed.fai
notes/theory/exercise IGV/upload IGV_2022/igvData/genome/refSeq_chr1.bed
notes/theory/exercise IGV/upload IGV_2022/igvData/genome/chr1.fasta.fai
notes/theory/exercise IGV/upload IGV_2022/igvData/genome/chr1.fasta
notes/theory/exercise IGV/upload IGV_2022/igvData/.DS_Store
notes/theory/exercise IGV/upload IGV_2022/.DS_Store
notes/theory/exercise IGV/upload IGV_2022.zip
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/pdf/._IGV_SlideDeck.pdf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/pdf/._IGV_Exercises.pdf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/pdf/._DownloadAndLaunch_2019.pdf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/pdf/._.DS_Store
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/NA12878sub/._NA12878.wgs.integrated_sv_map_v1.20130502.svs.genotypes.vcf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/NA12878sub/._NA12878.mapped.ILLUMINA.bwa.CEU.high_coverage_pcr_free.RR.bam.bai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/NA12878sub/._NA12878.mapped.ILLUMINA.bwa.CEU.high_coverage_pcr_free.RR.bam
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/NA12878sub/._NA12878.LUMPY.bedpe
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._vcf_session.xml
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._integrated_call_samples_v3.20130502.ALL.panel
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._hg19_chr22.genome
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._chr22.fa.fai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._chr22.fa
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._apol1_snp131.bed
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/vcf/._ALL.apol1.sample.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._svs_session.xml
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._NA19240_highcov.bam.bai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._NA19240_highcov.bam
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._NA19240.bam.bai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._NA19240.bam
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._hg38_chr21.genome
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._hg38.chr21.fa.fai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/svs/._hg38.chr21.fa
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/snps/._snp_calls.bed
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/snps/._NA12878.SLX.sample.bam.tdf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/snps/._NA12878.SLX.sample.bam.bai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/snps/._NA12878.SLX.sample.bam
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/snps/._.foo.swp
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/genome/._refSeq_chr1.bed.fai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/genome/._refSeq_chr1.bed
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/genome/._chr1.fasta.fai
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/genome/._chr1.fasta
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/._vcf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/._svs
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/._snps
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/._genome
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/igvData/._.DS_Store
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/._pdf
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/._NA12878sub
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/._igvData
notes/theory/exercise IGV/__MACOSX/upload IGV_2022/._.DS_Store
notes/theory/exercise IGV/__MACOSX/._upload IGV_2022
principal.aux
principal.fdb_latexmk
principal.fls
principal.log
principal.out
principal.toc
